
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>E store - eCommerce HTML Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="eCommerce HTML Template Free Download" name="keywords">
    <meta content="eCommerce HTML Template Free Download" name="description">

    <!-- Favicon -->
    <link href="../LayoutOgani/img/favicon.ico" rel="icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Source+Code+Pro:700,900&display=swap" rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="../LayoutOgani/lib/slick/slick.css" rel="stylesheet">
    <link href="../LayoutOgani/lib/slick/slick-theme.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="~/css/site.css" rel="stylesheet">
</head>

<body>
    <!-- Top bar Start -->
    <div class="top-bar">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <i class="fa fa-envelope"></i>
                    support@email.com
                </div>
                <div class="col-sm-6">
                   <p class="mona-html">
                       <strong>Miễn phí vận chuyển toàn quốc</strong>
                       với <strong><span data-text-color="secondary">
                       tất cả hóa đơn </span></strong>
                       từ 500.000 VNĐ <strong>
                           <span data-text-color="secondary"></span>
                           </strong></p>
                </div>
            </div>
        </div>
    </div>
    <!-- Top bar End -->
    <!-- Nav Bar Start -->
    <div class="nav">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-md bg-dark navbar-dark">
                <a href="#" class="navbar-brand">MENU</a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav mr-auto">
                        <a href="index.html" class="nav-item nav-link active">Trang chủ</a>
                        <a href="product-list.html" class="nav-item nav-link">Sản phẩm</a>
                        <a href="product-detail.html" class="nav-item nav-link">Đồ thể thao</a>
                        <a href="cart.html" class="nav-item nav-link">Đồ lót</a>
                        <a href="checkout.html" class="nav-item nav-link">Dụng cụ thể thao</a>
                        <a href="my-account.html" class="nav-item nav-link">Sản phẩm mới</a>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Bộ sưu tập</a>
                            <div class="dropdown-menu">
                                <a href="wishlist.html" class="dropdown-item">Wishlist</a>
                                <a href="login.html" class="dropdown-item">Login & Register</a>
                                <a href="contact.html" class="dropdown-item">Contact Us</a>
                            </div>
                        </div>
                    </div>
                    <div class="navbar-nav ml-auto">
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">User Account</a>
                            <div class="dropdown-menu">
                                <a href="/Access/Login" class="dropdown-item">Login</a>
                                <a href="/Access/Register" class="dropdown-item">Register</a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- Nav Bar End -->
    <!-- Bottom Bar Start -->
    <div class="bottom-bar">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-3">
                    <div class="logo">
                        <a href="index.html">
                            <img src="../LayoutOgani/img/logo2.png" alt="Logo" style="width:200px; height:400px">
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="search">
                        <input type="text" placeholder="Search">
                        <button><i class="fa fa-search"></i></button>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="user">
                        <a href="wishlist.html" class="btn wishlist">
                            <i class="fa fa-heart"></i>
                            <span>(0)</span>
                        </a>
                        <a href="cart.html" class="btn cart">
                            <i class="fa fa-shopping-cart"></i>
                            <span>(0)</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bottom Bar End -->
    <!-- Main Slider Start -->
    <div class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <nav class="navbar bg-light">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fa fa-home"></i>Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fa fa-shopping-bag"></i>Best Selling</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fa fa-plus-square"></i>New Arrivals</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fa fa-female"></i>Fashion & Beauty</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fa fa-child"></i>Kids & Babies Clothes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fa fa-tshirt"></i>Men & Women Clothes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fa fa-mobile-alt"></i>Gadgets & Accessories</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fa fa-microchip"></i>Electronics & Accessories</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-6">
                    <div class="header-slider normal-slider">
                        <div class="header-slider-item">
                            <img src="../LayoutOgani/img/slider-1.jpg" alt="Slider Image" />
                            <div class="header-slider-caption">
                                <p>Some text goes here that describes the image</p>
                                <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Shop Now</a>
                            </div>
                        </div>
                        <div class="header-slider-item">
                            <img src="../LayoutOgani/img/slider-2.jpg" alt="Slider Image" />
                            <div class="header-slider-caption">
                                <p>Some text goes here that describes the image</p>
                                <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Shop Now</a>
                            </div>
                        </div>
                        <div class="header-slider-item">
                            <img src="../LayoutOgani/img/slider-3.jpg" alt="Slider Image" />
                            <div class="header-slider-caption">
                                <p>Some text goes here that describes the image</p>
                                <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="header-img">
                        <div class="img-item">
                            <img src="../LayoutOgani/img/category-1.jpg" />
                            <a class="img-text" href="">
                                <p>Some text goes here that describes the image</p>
                            </a>
                        </div>
                        <div class="img-item">
                            <img src="../LayoutOgani/img/category-2.jpg" />
                            <a class="img-text" href="">
                                <p>Some text goes here that describes the image</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main Slider End -->
   
    @RenderBody()
    <!-- Featured Product End -->
    <!-- Newsletter Start -->
    <div class="newsletter">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <h1>Subscribe Our Newsletter</h1>
                </div>
                <div class="col-md-6">
                    <div class="form">
                        <input type="email" value="Your email here">
                        <button>Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Newsletter End -->
    <!-- Recent Product Start -->
    <!-- Recent Product End -->
    <!-- Review Start -->
    <div class="review">
        <div class="container-fluid">
            <div class="row align-items-center review-slider normal-slider">
                <div class="col-md-6">
                    <div class="review-slider-item">
                        <div class="review-img">
                            <img src="../LayoutOgani/img/review-1.jpg" alt="Image">
                        </div>
                        <div class="review-text">
                            <h2>Customer Name</h2>
                            <h3>Profession</h3>
                            <div class="ratting">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vitae nunc eget leo finibus luctus et vitae lorem
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="review-slider-item">
                        <div class="review-img">
                            <img src="../LayoutOgani/img/review-2.jpg" alt="Image">
                        </div>
                        <div class="review-text">
                            <h2>Customer Name</h2>
                            <h3>Profession</h3>
                            <div class="ratting">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vitae nunc eget leo finibus luctus et vitae lorem
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="review-slider-item">
                        <div class="review-img">
                            <img src="../LayoutOgani/img/review-3.jpg" alt="Image">
                        </div>
                        <div class="review-text">
                            <h2>Customer Name</h2>
                            <h3>Profession</h3>
                            <div class="ratting">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vitae nunc eget leo finibus luctus et vitae lorem
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Review End -->
    <!-- Footer-->
    <footer class="site-footer mobile--hidden" >
       <div class="container">
           <div class="site-footer__inner">
               <div class="site-footer__sidebar">
                   <div>
                       <h4 class="site-footer__title">
                        COOLMATE lắng nghe bạn!
                    </h4> 
                    <p class="site-footer__description" style="margin-bottom: 30px;">
                        Chúng tôi luôn trân trọng và mong đợi nhận được mọi ý kiến đóng góp từ
                        khách hàng để có thể nâng cấp trải nghiệm dịch vụ và sản phẩm tốt hơn nữa.
                    </p> <a href="https://form.typeform.com/to/lU2oprGc?typeform-medium=embed-snippet" target="_blank" class="site-footer__btn">
                        Đóng góp ý kiến
                    </a>
                    </div>
                    <div style="width: 25%;">
                        <div class="footer-info">
                            <div class="footer-info__icon">
                                <img src="https://www.coolmate.me/images/footer/icon-hotline.svg" alt="Footer Icon Phone">
                                </div>
                    <div class="footer-info__content"><span class="footer-info__title">
                            Hotline
                        </span>
                        <p class="footer-info__desciption"><a href="tel: 1900272737">1900.272737</a> - <a href="tel: 02877772737">028.7777.2737</a> 
                            <br>
                            <span>(8:30 - 22:00)</span>
                        </p>
                        </div>
                        </div>
                        <div class="footer-info">
                            <div class="footer-info__icon">
                                <img src="https://www.coolmate.me/images/footer/icon-email.svg" alt="Footer Icon Email">
                                </div> 
                               <div class="footer-info__content"><span class="footer-info__title">
                            Email
                        </span>
                        <p class="footer-info__desciption">
                            <a href="mailto: Cool@coolmate.me">
                                    Cool@coolmate.me
                           </a>
                        </p>
                               </div>
                        </div>
                    </div>
                            <div class="footer-social">
                                    <a href="https://www.facebook.com/coolmate.me" target="_blank" class="footer-social__item">
                                        <img src="https://mcdn.coolmate.me/image/June2023/mceclip1_43.png" alt="Footer Icon facebook">
                                    </a>
                                        <a href="https://zalo.me/1517736583279228381" target="_blank" class="footer-social__item">
                                            <img src="https://mcdn.coolmate.me/image/June2023/mceclip2_68.png" alt="Footer Icon Zalo">
                                        </a>
                                           
                                            <a href="https://www.instagram.com/coolmate.me/" target="_blank" class="footer-social__item">
                                                <img src="https://www.coolmate.me/images/footer/icon-instar.svg" alt="Footer Icon instar">
                                            </a> 
                                                <a href="https://www.youtube.com/channel/UCWw8wLlodKBtEvVt1tTAsMA" target="_blank" class="footer-social__item">
                                                    <img src="https://www.coolmate.me/images/footer/icon-youtube.svg" alt="Footer Icon youtube">
                                                </a>
                            </div>
               </div>
                            <div class="site-footer__menu">
                                 <div class="footer-menu">
                                        <div class="footer-menu__item">
                                             <h4 class="footer-menu__title">COOLCLUB</h4> 
                                                 <ul>
                                                       <li>
                                                              <a href="/account/register?itm_source=footerm">Đăng kí thành viên</a>
                                                       </li>
                                                            <li>
                                                                     <a href="/coolclub?itm_source=footer">Ưu đãi &amp; Đặc quyền</a>
                                                            </li>
                                                   </ul>
                                        </div>
                                                  <div class="footer-menu__item">
                                                       <h4 class="footer-menu__title">Chính sách</h4>
                                                      <ul>
                                                            <li>
                                                               <a href="/page/dich-vu-60-ngay-doi-tra">Chính sách đổi trả 60 ngày</a>
                                                            </li>
                                                               <li>
                                                                 <a href="/page/chuong-trinh-va-chinh-sach-khuyen-mai-tai-coolmate">Chính sách khuyến mãi</a>
                                                               </li> 
                                                            <li>
                                                            <a href="/page/chinh-sach-bao-mat-thong-tin-ca-nhan">Chính sách bảo mật</a>
                                                            </li> 
                                                             <li>
                                                                <a href="/page/dich-vu-giao-hang-coolmate">Chính sách giao hàng</a>
                                                             </li>
                                                      </ul> 
                                                         <h4 class="footer-menu__title">Coolmate.me</h4>
                                              <ul>
                                                     <li>
                                                                <a href="/page/changelog?itm_source=footer">Lịch sử thay đổi website</a>
                                                     </li>
                                              </ul>
                                                  </div> 
                                                     <div class="footer-menu__item">
                                                         <h4 class="footer-menu__title">Chăm sóc khách hàng</h4>
                                                 <ul>
                                                     <li>
                                                         <a href="/page/11-dich-vu-tai-coolmate-co-the-ban-chua-biet">Trải nghiệm mua sắm 100% hài lòng</a>
                                                     </li> 
                                                     <li>
                                                         <a href="/page/faqs">Hỏi đáp - FAQs</a>
                                                     </li>
                                                 </ul> 
                                                 <h4 class="footer-menu__title">Kiến thức mặc đẹp</h4>
                                                 <ul>
                                                     <li>
                                                         <a href="/size-chart">Hướng dẫn chọn size</a>
                                                     </li>
                                                         <li>
                                                             <a href="/blog">Blog</a>
                                                         </li>
                                                 </ul>
                                                      </div> 
                                              <div class="footer-menu__item">
                                                  <h4 class="footer-menu__title">Tài liệu - Tuyển dụng</h4>
                                                  <ul>
                                                      <li>
                                                          <a href="/lp/coolmate-101?itm_source=footer#recruitment-jobs">Tuyển dụng</a>
                                                      </li>
                                                          <li><a href="http://online.gov.vn/(X(1)S(sgmttobbtsiaq3l5itoicxhw))/Home/WebDetails/53184?AspxAutoDetectCookieSupport=1" target="_blank">Đăng ký bản quyền</a>
                                                          </li>
                                                  </ul> 
                                                          <h4 class="footer-menu__title">Về COOLMATE</h4>
                                                          <ul>
                                                              <li>
                                                                  <a href="/lp/coolmate-101?itm_source=footer">Coolmate 101</a>
                                                              </li>
                                                                  <li>
                                                                      <a href="/page/11-dich-vu-tai-coolmate-co-the-ban-chua-biet?itm_source=footer">DVKH xuất sắc</a>
                                                                  </li> 
                                                                      <li><a href="/page/coolmate-story?itm_source=footer"> Câu chuyện về Coolmate</a></li> 
                                                                      <li><a href="/page/san-pham-coolmate-duoc-san-xuat-nhu-the-nao?itm_source=footer">Nhà máy</a></li>
                                                                          <li>
                                                                              <a href="/collection/care-and-share?itm_source=footer">Care &amp; Share</a>
                                                                          </li>
                                                          </ul>
                                              </div> 
                                              <div class="footer-menu__item">
                                                  <h4 class="footer-menu__title">Địa chỉ liên hệ</h4>
                                                  <p class="footer-menu__desciption">
                                                      <u>Văn phòng Hà Nội:</u> Tầng 3 Tòa nhà BMM, KM2, Đường Phùng Hưng, Phường Phúc La, Quận Hà Đông, TP Hà Nội</p>
                                                      <p class="footer-menu__desciption"><u>Trung tâm vận hành Hà Nội:</u> Lô C8, KCN Lại Yên, Xã Lại Yên, Huyện Hoài Đức, Thành phố Hà Nội</p>
                                                      <p class="footer-menu__desciption"><u>Văn phòng và Trung tâm vận hành TP. HCM:</u> Lô C3, đường D2, KCN Cát Lái, Thạnh Mỹ Lợi, TP. Thủ  Đức, TP. Hồ Chí Minh.</p>
                                                      <p class="footer-menu__desciption"><u>Trung tâm R&amp;D:</u> T6-01, The Manhattan Vinhomes Grand Park, Long Bình, TP. Thủ Đức</p>
                                              </div>
                                 </div>
                            </div>
           </div> 
           <div class="site-footer__after">
               <div class="copyright">
     
                <p class="copyright__description">Mã số doanh nghiệp: 0108617038. Giấy chứng nhận đăng ký doanh nghiệp do Sở Kế hoạch và Đầu tư TP Hà Nội cấp lần đầu ngày 20/02/2019.</p>
               </div> 
               <div class="site-footer__logo"><a href="https://tinnhiemmang.vn/danh-ba-tin-nhiem/coolmateme-1646213826" title="Chung nhan Tin Nhiem Mang" target="_blank" style="margin-right: 10px;">
                   <img src="https://media3.coolmate.me/cdn-cgi/image/quality=80,format=auto/uploads/March2022/handle_cert.png" alt="Chung nhan Tin Nhiem Mang" style="max-height: 40px;">
                   </a> 
                   <a href="https://www.dmca.com/Protection/Status.aspx?ID=c6fdbdee-127c-4cf1-923d-7efe75201df6&amp;refurl=https://www.coolmate.me/?utm_source=ggads&amp;utm_medium=search&amp;utm_campaign=VN_GG_SEARCH_BRANDKEY&amp;utm_term=21084599217-163380422121&amp;gad_source=1&amp;gclid=Cj0KCQjwmOm3BhC8ARIsAOSbapWnBt3B8xPT6jtAYnOhE7Zzj66InQ0r53Lm40hl-njXi5wDTbI4GfQaAn2FEALw_wcB" title="DMCA.com Protection Status" target="_blank" class="dmca-badge" style="margin-right: 10px;">
                       <img src="https://media3.coolmate.me/cdn-cgi/image/quality=80,format=auto/uploads/March2022/dmca_protected_15_120.png" alt="DMCA.com Protection Status" style="max-height: 40px;">
                   </a> 
                   <a href="#" style="margin-right: 10px;">
                       <img src="https://www.coolmate.me/images/footer/Coolmate-info.png" alt="Coolmate info" width="39" height="40">
                   </a>
                       <a href="http://online.gov.vn/(X(1)S(3e0hkhscv5zs101mhuopx43a))/Home/WebDetails/53184?AspxAutoDetectCookieSupport=1" target="_blank">
                           <img src="https://www.coolmate.me/images/footer/logoSaleNoti.png" alt="Coolmate info" width="106" height="40">
                       </a>
               </div>
           </div>
       </div>
    </footer>

    <!-- Footer End-->
    <!-- Back to Top -->
    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="../LayoutOgani/lib/easing/easing.min.js"></script>
    <script src="../LayoutOgani/lib/slick/slick.min.js"></script>

    <!-- Template Javascript -->
    <script src="../LayoutOgani/js/main.js"></script>
</body>
</html>
